@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.dropdown {
  z-index: 999;

  // margin: 0;
  max-width: 240px;
  padding: var(--spacing-0_5) 0;

  // &:hover {
  //   border-color: var(--gray-5);
  // }

  /* box-shadow: 0 4px 0 0px rgba(0, 0, 0, 0.2); */

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  // border-top: 1px solid var(--white-2);
  // border-left: 1px solid var(--white-1);
  // border-right: 1px solid var(--white-1);
  // border-bottom: 1px solid var(--white-1);
  border: 1px solid var(--grayBorder);
  border-radius: var(--border-radius-xs);

  /* background-color: #181818; */
  background-color: var(--grayElevatedBg);
  box-shadow: 0 1px 1px rgb(0 0 0 / 25%), 0 2px 2px rgb(0 0 0 / 20%),
    0 4px 4px rgb(0 0 0 / 15%), 0 8px 8px rgb(0 0 0 / 10%),
    0 16px 16px rgb(0 0 0 / 5%);
  list-style: none;
  will-change: transform, opacity;

  &[data-side="top"] {
    animation-name: slideDownAndFade;
  }

  &[data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  &[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  &[data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.optionText {
  max-height: 1.125rem;
  color: var(--grayText);
}

.option {
  display: flex;
  align-items: center;
  min-height: var(--spacing-6);
  margin: 0;
  padding: var(--spacing-1) var(--spacing-2) var(--spacing-1) var(--spacing-2);
  outline: none;
  color: var(--grayTextContrast);
  font-size: var(--font-size-regular);
  font-weight: normal;
  line-height: 1;
  text-transform: unset;
  white-space: nowrap;
  cursor: pointer;
  gap: var(--spacing-1_5);

  // border-top: 1px solid var(--white-1);

  &:first-child {
    border-top: none;
  }

  @media (width >= 900px) {
    min-height: var(--spacing-3);
    padding: var(--spacing-0_5) var(--spacing-4) var(--spacing-0_5)
      var(--spacing-2);
    border-top: none;
    gap: var(--spacing-1);
  }

  &[data-disabled] {
    opacity: 0.4;
    background-color: initial;
    cursor: default;

    // border-bottom: 1px solid var(--white-2);
    @media (width >= 900px) {
      border-bottom: none;
    }
  }

  &[data-highlighted] {
    // background-color: var(--gray-4);
    background-color: var(--accentSolid);
    color: var(--foreground) !important;

    .optionText {
      color: var(--foreground) !important;
    }
  }

  &:active,
  &[data-highlighted]:active {
    background-color: var(--accentSolid);
  }
}

.checkboxOption {
  padding-left: var(--spacing-3);

  // margin: 0;
  // cursor: pointer;
  // display: flex;
  // align-items: center;
  // line-height: 1;
  // gap: var(--spacing-1_5);
  // min-height: var(--spacing-6);
  // white-space: nowrap;

  // border-top: 1px solid var(--white-1);

  // &:first-child {
  //   border-top: none;
  // }

  @media (width >= 900px) {
    padding-left: var(--spacing-3);
  }

  // gap: var(--spacing-1);
}

.iconContainer {
  width: 1rem;
  height: 1rem;
  color: var(--foreground-60);
}

.dropdownMenuArrow {
  z-index: 999;
  stroke: var(--grayBorder);
  fill: var(--grayElevatedBg);
}

.separator {
  width: 100%;
  height: 1px;
  margin: var(--spacing-1) 0;
  border-bottom: 1px solid var(--grayBorder);
}

.itemIndicator {
  display: inline-flex;
  position: absolute;
  left: 0;
  align-items: center;
  justify-content: center;
  width: var(--spacing-3);
}
