.toolbar {
  display: flex;

  // flex-direction: column;
  // justify-content: flex-end;
  width: min-content;

  // align-items: center;
  // align-items: center;
  // line-height: 1.25rem;
  gap: var(--spacing-1);

  // padding: var(--spacing-2) 0 0;
}

.item {
  display: flex;
  align-items: center;
  line-height: 1.25rem;

  // gap: var(--spacing-1);
}

.popoverForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.popoverField {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.toolbarSeparator {
  width: 1px;
  height: var(--spacing-3);
  margin: auto var(--spacing-1);
  border-left: 1px solid var(--color-gray-line);
}

.toolbarButton {
  // flex: 0;
  display: flex;
  position: relative;
  align-items: center;
  width: auto;
  height: auto;
  min-height: 1.75rem;
  padding: 0 var(--spacing-2);

  // padding-bottom: var(--spacing-0-half);
  transition: 150ms ease;
  transition-property: border-color, color, background;
  // border: 1px solid var(--color-gray-border);
  // border-radius: var(--border-radius-xs);
  // background-color: var(--color-gray-bg);

  // padding-top: var(--spacing-0-half);
  box-shadow: none;
  color: var(--color-gray-text);
  font-size: var(--font-size-regular);
  line-height: calc(1.75rem - 2px);
  white-space: nowrap;
  cursor: pointer;

  // height: 100%;
  &:hover {
    z-index: 10;
    border-color: var(--color-gray-border-hover);
    background-color: var(--color-gray-bg-hover);
    color: var(--color-gray-text-contrast);
  }

  &.dangerHover:hover {
    border-color: var(--red-8);
    background-color: var(--red-4);
    color: var(--red-12);
  }

  &.dangerHover:active {
    background-color: var(--red-5);
  }

  &:active {
    background-color: var(--color-gray-bg-active);
  }

  &[data-state="on"],
  &.active {
    border-color: var(--color-accent-border);
    background-color: var(--color-accent-bg-active);
    color: var(--color-gray-text-contrast);

    &:hover {
      border-color: var(--color-accent-border-hover);
      background-color: var(--color-accent-bg-hover);
    }

    &:active {
      background-color: var(--color-accent-bg-active);
    }
  }

  &.pvp[data-state="on"],
  &.pvp.active {
    border-color: var(--red-7);
    background-color: var(--red-5);
    color: var(--red-12);

    &:hover {
      border-color: var(--red-8);
      background-color: var(--red-4);
    }

    &:active {
      background-color: var(--red-5);
    }
  }
}

.toggleGroup {
  display: flex;
  z-index: 0;
  // flex: 1;

  // grid-template-columns: repeat(4, min-content);
  width: auto;

  // justify-content: center;
  // > * {
  //   font-size: 0.75rem !important;
  //   min-height: 1.75rem;
  //   max-height: 1.75rem;
  //   margin: 0;

  //   height: 100%;
  // }
  svg {
    width: 15px;
    height: 15px;

    // color: var(--color-gray-text);
  }

  & > button:not(:last-of-type),
  & > span:not(:last-of-type) button {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &[data-state="on"] {
      border-right-width: 1px;
    }

    &[data-state="on"] + button,
    &[data-state="on"] + span button {
      border-left-width: 0;
    }
  }

  & > span:not(:last-of-type) > button[data-state="on"] {
    margin-right: -1px;
    z-index: 2;
  }

  & > button:not(:first-of-type),
  & > span:not(:first-of-type) button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // align-items: center;
  // justify-content: center;
  // height: 100%;
}

.comboEnhance {
  display: grid;
  grid-template-columns: max-content min-content;
  align-items: center;
  justify-content: center;
  height: 100%;

  > * {
    height: 100%;
    min-height: 1.75rem;
    max-height: 1.75rem;
    margin: 0;
    font-size: 0.875rem !important;
    font-weight: 500;
  }
}

.enhanceLeft {
  // flex: 0;
  display: inline-flex;
  position: relative;

  // padding-top: var(--spacing-0-half);
  padding-left: var(--spacing-1-half);
  border: 1px solid var(--color-gray-border);
  background-color: var(--color-gray-bg);
  box-shadow: none;
  color: var(--color-gray-text);
  line-height: calc(1.75rem - 2px);

  // border-right: none;
  gap: var(--spacing-1);

  // span {
  //   margin-top: 2px;
  // }
  svg {
    margin-bottom: 0;
  }

  // padding-bottom: var(--spacing-0-half);
  // height: 100%;
  &:hover {
    border-color: var(--color-gray-border-hover);
    background-color: var(--color-gray-bg-hover);
    color: var(--color-gray-text-contrast);
  }

  // border-radius: var(--border-radius-xs) 0 0 var(--border-radius-xs);
  // &::after {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  //   height: 70%;
  //   border-left: 1px solid var(--color-gray-border);
  // }

  &[data-state="on"],
  &.active {
    border-color: var(--color-accent-border);
    background-color: var(--color-accent-bg-active);
    color: var(--color-gray-text-contrast);

    &:hover {
      border-color: var(--color-accent-border-hover);
      background-color: var(--color-accent-bg-hover);
    }

    &:active {
      background-color: var(--color-accent-bg-active);
    }
  }
}

.enhanceRight {
  flex: 0;
  width: auto;

  // border: 1px solid var(--white-6);
  // height: 100% !important;
  margin: 0;
  padding: 0 var(--spacing-1);
  border: 1px solid var(--color-gray-border);
  border-left: none;
  border-radius: 0 var(--border-radius-xs) var(--border-radius-xs) 0;
  background-color: var(--color-gray-bg);
  color: var(--color-gray-text);
}

.enhanceButton {
  display: flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  margin: 0;

  padding: var(--spacing-1) var(--spacing-1);
  border: none;
  border-radius: var(--border-radius-xs);
  background: none;
  color: var(--color-gray-text);
  font-size: var(--font-size-body-sm);
  cursor: pointer;
  gap: var(--spacing-0-half);
}

.enhanceButton:hover {
  background-color: var(--color-gray-bg-hover);
  color: var(--color-gray-text-contrast);
}
