.button {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  transition: ease 150ms;
  border: none;
  border-radius: var(--border-radius-xs);
  outline: none;
  background-color: transparent;
  color: var(--color-gray-text);
  cursor: pointer;
  appearance: none;

  &:focus {
    box-shadow: 0 0 0 2px var(--color-accent-focus-ring);
  }

  &:hover {
    background-color: var(--color-gray-bg-hover);
    color: var(--color-gray-text-contrast);
  }

  &:active {
    background-color: var(--color-gray-bg-active);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-accent-focus-ring);
  }
}

.button[disabled] {
  transition: 0.5s ease-out;
  opacity: 1;
  background-color: var(--color-background-button-icon-disabled);
  color: var(--color-text-button-icon-disabled);
  cursor: default;
}

.warning {
  background-color: transparent;
  color: var(--color-warning-text);

  &:hover {
    background-color: var(--color-warning-bg-hover);
    color: var(--warning-text-contrast);
  }

  &:active {
    background-color: var(--color-warning-bg-active);
    color: var(--color-warning-text-contrast);
  }

  &[disabled],
  &[disabled]:hover {
    transition: 0.5s ease-out;
    opacity: 0.5;
    background-color: transparent;
    color: var(--color-warning-text);
    cursor: not-allowed;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-warning-focus-ring);
  }
}

.destructive {
  background-color: transparent;
  color: var(--color-danger-text);

  &:hover {
    background-color: var(--color-danger-bg-hover);
    color: var(--color-danger-text-contrast);
  }

  &:active {
    background-color: var(--color-danger-bg-active);
    color: var(--color-danger-text-contrast);
  }

  &[disabled],
  &[disabled]:hover {
    transition: 0.5s ease-out;
    opacity: 0.5;
    background-color: transparent;
    color: var(--color-danger-text);
    cursor: not-allowed;
  }
}
