.button {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  transition: ease 150ms;
  border: none;
  border-radius: var(--border-radius-xs);
  outline: none;
  background-color: transparent;
  color: var(--gray11);
  cursor: pointer;
  appearance: none;

  &:focus {
    box-shadow: 0 0 0 2px var(--blue-8);
  }

  &:hover {
    background-color: var(--grayBgHover);
    color: var(--gray12);
  }

  &:active {
    background-color: var(--grayBgActive);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--accentFocusRing);
  }
}

.button[disabled] {
  transition: 0.5s ease-out;
  opacity: 1;
  background-color: var(--gray-8);
  color: var(--black);
  cursor: default;
}

.warning {
  background-color: transparent;
  color: var(--warningText);

  &:hover {
    background-color: var(--warningBgHover);
    color: var(--warningTextContrast);
  }

  &:active {
    background-color: var(--warningBgActive);
    color: var(--warningTextContrast);
  }

  &[disabled],
  &[disabled]:hover {
    transition: 0.5s ease-out;
    opacity: 0.5;
    background-color: transparent;
    color: var(--warningText);
    cursor: not-allowed;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--warningFocusRing);
  }
}

.destructive {
  background-color: transparent;
  color: var(--dangerText);

  &:hover {
    background-color: var(-dangerBgHover);
    color: var(--dangerTextContrast);
  }

  &:active {
    background-color: var(--dangerBgActive);
    color: var(--dangerTextContrast);
  }

  &[disabled],
  &[disabled]:hover {
    transition: 0.5s ease-out;
    opacity: 0.5;
    background-color: transparent;
    color: var(--dangerText);
    cursor: not-allowed;
  }
}
