button.checkboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  transition: 150ms ease;
  transition-property: background-color, border-color;
  border: 1px solid var(--color-gray-border);
  border-radius: var(--border-radius-xs);
  outline: 0;
  background-color: var(--color-gray-bg);
  appearance: none;

  &:hover {
    border-color: var(--color-gray-border-hover);
    background-color: var(--color-gray-bg-hover);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-accent-focus-ring);
  }

  @supports not selector(:focus-visible) {
    &:focus {
      /* Fallback for browsers without :focus-visible support */
      box-shadow: 0 0 0 2px var(--color-accent-focus-ring);
    }
  }

  &[data-state="checked"] {
    border-color: var(--color-accent-border);
    background-color: var(--color-accent-solid);

    &:hover {
      border-color: var(--color-accent-border-hover);
      background-color: var(--color-accent-solid-hover);
    }
  }

  &[disabled] {
    border-color: var(--color-gray-line);
    background-color: var(--color-gray-bg);
    color: var(--color-gray-solid);
    cursor: not-allowed;

    & + label {
      color: var(--color-gray-text);
      cursor: not-allowed;
    }
  }
}

.checkboxIndicator {
  display: inline-flex;
  color: var(--color-gray-text);

  &[data-state="checked"] {
    color: var(--color-accent-text-contrast);
  }
}
