* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--gray-base);
  color: var(--gray-text-contrast);
}

a {
  color: inherit;
  text-decoration: none;
}
