.toggleButton {
  &[data-state="on"] {
    background: var(--grayBgActive);
    color: var(--gray11);

    &:hover {
      background: var(--grayBorder);
      color: var(--gray12);
    }

    &:active {
      background: var(--grayBgActive);
      color: var(--gray12);
    }

    // border: 1px solid var(--accentBorder);
  }

  &:hover {
    background: var(--grayBgHover);
    color: var(--gray12);
  }

  &:active {
    background: var(--grayBgActive);
    color: var(--gray12);
  }
}
