.label {
  display: block;
  color: var(--color-gray-text-contrast);
  font-family: var(--font-text);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-label);
  line-height: 1;
}

.sm {
  font-size: var(--font-size-xs);
}
