.note {
  display: flex;
  align-items: center;
  width: 100%;
  height: min-content;
  padding: var(--spacing-1-half) var(--spacing-2);
  border: 1px solid;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-regular);
  line-height: 1;
  gap: var(--spacing-2);
}

.info {
  border-color: var(--color-accent-border);
  background-color: var(--color-accent-bg);
  color: var(--color-accent-text);
}

.success {
  border-color: var(--color-success-border);
  background-color: var(--color-success-bg);
  color: var(--color-success-text);
}

.warning {
  border-color: var(--color-warning-border);
  background-color: var(--color-warning-bg);
  color: var(--color-warning-text);
}

.destructive {
  border-color: var(--color-danger-border);
  background-color: var(--color-danger-bg);
  color: var(--color-danger-text);
}

.close {
  // color: inherit;
  margin-bottom: auto;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
}
