.switchRoot {
  /* reset */
  all: unset;
  position: relative;
  width: 36px;
  height: 20px;
  border: 1px solid var(--color-gray-border);
  border-radius: 9999px;
  background-color: var(--color-gray-bg);

  // box-shadow: 0 2px 10px var(--black-7);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  &:hover {
    border-color: var(--color-gray-border-hover);
    background-color: var(--color-gray-bg-hover);
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--color-accent-focus-ring);
  }

  &[data-state="checked"] {
    border-color: var(--color-accent-border);
    background-color: var(--color-accent-solid);

    &:hover {
      border-color: var(--color-accent-border-hover);
      background-color: var(--color-accent-solid-hover);
    }
  }
}

.switchThumb {
  display: block;
  width: 17px;
  height: 17px;
  transform: translateX(-1px);
  transition: transform 100ms;
  border-radius: 9999px;
  background-color: var(--whiteA12);
  box-shadow: 0 2px 2px var(--blackA6);
  will-change: transform;
}

.switchThumb[data-state="checked"] {
  transform: translateX(19px);
}
