.toggleButton {
  &[data-state="on"] {
    background: var(--color-gray-bg-active);
    color: var(--color-gray-text);

    &:hover {
      background: var(--color-gray-border);
      color: var(--color-gray-text-contrast);
    }

    &:active {
      background: var(--color-gray-bg-active);
      color: var(--color-gray-text-contrast);
    }

    // border: 1px solid var(--color-accent-border);
  }

  &:hover {
    background: var(--color-gray-bg-hover);
    color: var(--color-gray-text-contrast);
  }

  &:active {
    background: var(--color-gray-bg-active);
    color: var(--color-gray-text-contrast);
  }
}
