@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(2px);
    opacity: 0;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// .dialogOverlay {
//   background-color: var(--black-9);
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 999;
//   opacity: 1;
// }

// .popoverPortal {
//   &[data-radix-popper-content-wrapper] {
//     bottom: 0;
//   }
// }

// .dialogContent {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   max-width: 100%;
//   z-index: 999;
//   background-color: var(--grayBg);
//   padding: var(--spacing-2);
//   padding-bottom: var(--spacing-4);
//   font-size: var(--font-size-body-sm);
//   line-height: 1;
//   color: var(--gray-12);
//   border-top: 1px solid var(--grayBorder);
//   border-top-right-radius: var(--border-radius-sm);
//   border-top-left-radius: var(--border-radius-sm);
//   animation: contentShow 250ms ease;
// }

.content {
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  // max-width: 100%;
  // z-index: 999;
  // background-color: var(--grayBg);
  // padding: var(--spacing-2);
  // padding-bottom: var(--spacing-4);
  // font-size: var(--font-size-body-sm);
  // line-height: 1;
  // color: var(--gray-12);
  // border-top: 1px solid var(--grayBorder);
  // border-top-right-radius: var(--border-radius-sm);
  // border-top-left-radius: var(--border-radius-sm);
  // animation: contentShow 250ms ease;
  // @media (min-width: 600px) {
  z-index: 99;
  width: 260px;
  padding: var(--spacing-2);

  // user-select: none;

  animation-duration: 200ms;
  animation-timing-function: ease-out;
  border: 1px solid var(--grayBorder);
  border-radius: var(--border-radius-xs);
  background-color: var(--grayBg);
  box-shadow: var(--shadow-2xl);
  color: var(--gray-12);

  // line-height: 1;
  font-size: var(--font-size-body-sm);
  line-height: 1;
  will-change: transform, opacity;

  &[data-state="open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }

  &[data-state="open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  &[data-state="open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  &[data-state="closed"][data-side="bottom"] {
    animation-name: slideDownAndFadeOut;
  }

  &[data-state="open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }

  // }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-content: center;
  padding: var(--spacing-1);
}

.arrow {
  stroke: var(--grayBorder);
  fill: var(--grayBg);
}

.popoverHeader {
  margin: 0;
  margin-bottom: var(--spacing-1);

  // margin-left: var(--spacing-3);
  padding: 0;
  padding-bottom: var(--spacing-1);
  color: var(--grayTextContrast);

  // composes: heading2 from "@styles/typography.scss";
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-regular);
  line-height: 1;

  // border-bottom: 1px solid var(--grayBorder);
}
