@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(2px);
    opacity: 0;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.content {
  z-index: 99;
  width: 260px;
  padding: var(--spacing-2);

  // user-select: none;

  animation-duration: 200ms;
  animation-timing-function: ease-out;
  border: 1px solid var(--color-gray-border);
  border-radius: var(--border-radius-xs);
  background-color: var(--color-gray-bg);
  box-shadow: var(--shadow-2xl);
  color: var(--color-gray-text-contrast);

  // line-height: 1;
  font-size: var(--font-size-body-sm);
  line-height: 1;
  will-change: transform, opacity;

  &[data-state="open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }

  &[data-state="open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  &[data-state="open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  &[data-state="closed"][data-side="bottom"] {
    animation-name: slideDownAndFadeOut;
  }

  &[data-state="open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }

  // }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-content: center;
  padding: var(--spacing-1);
}

.arrow {
  stroke: var(--color-gray-border);
  fill: var(--color-gray-bg);
}

.popoverHeader {
  margin: 0;
  margin-bottom: var(--spacing-1);

  // margin-left: var(--spacing-3);
  padding: 0;
  padding-bottom: var(--spacing-1);
  color: var(--color-gray-text-contrast);

  // composes: heading2 from "@styles/typography.scss";
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-regular);
  line-height: 1;

  // border-bottom: 1px solid var(--color-gray-border);
}
