.kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--spacing-3);
  height: calc(var(--spacing-4) - 2px);

  // height: 1.25rem;
  padding-inline: var(--spacing-1);
  border: 1px solid var(--grayLine);
  border-radius: var(--border-radius-xs);
  background: var(--grayBgSubtle);
  color: var(--grayText);
  font-family: var(--font-display);
  font-size: var(--font-size-regular);
  font-weight: 400;
  line-height: 1;
}

.kbd.small {
  min-width: 1.25rem;
  height: 1.25rem;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--grayBgActive);
  color: var(--grayTextContrast);
  font-family: inherit;
  font-size: var(--font-size-regular);
  font-weight: 400;
}

.kbd + kbd {
  margin-left: var(--spacing-0_5);
}

.kbd span + span {
  margin-left: var(--spacing-1);
}
