.overlay {
  position: fixed;
  z-index: 999;
  inset: 0;
  opacity: 1;
  background-color: var(--black-9);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-content: center;
  padding: var(--spacing-1);
}

.content {
  display: flex;
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 40dvh;
  max-height: 75dvh;
  overflow: hidden;
  animation: contentShow 250ms ease;
  border-top: 1px solid var(--grayBorder);
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
  background-color: var(--grayBg);
  color: var(--gray-12);
  font-size: var(--font-size-body-sm);
  line-height: 1;
}

@keyframes contentShow {
  from {
    transform: translate(0, 40px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
