.message {
  display: flex;
  align-items: center;
  width: 100%;
  height: min-content;
  padding: var(--spacing-2);
  border: 1px solid var(--color-accent-border);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-accent-bg);
  color: var(--color-accent-text);
  font-size: var(--font-size-body-sm);
  line-height: 1rem;
  gap: var(--spacing-1-half);
}

.messageHeader {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: var(--spacing-1-half);
}
