// d2 colors
:root {
  --exotic: rgb(206, 174, 51);
  --legendary: rgb(82, 47, 101);
  --rare: rgb(80, 118, 163);
  --uncommon: rgb(54, 111, 66);
  --common: rgb(195, 188, 180);
  --gold: rgb(202, 172, 72);
  --dark-gold: rgb(183, 140, 37);
}

// Radix colors

:root {
  --tomato-1: hsl(10, 23%, 9.4%);
  --tomato-2: hsl(9, 44.8%, 11.4%);
  --tomato-3: hsl(8, 52%, 15.3%);
  --tomato-4: hsl(7, 56.3%, 18%);
  --tomato-5: hsl(7, 60.1%, 20.6%);
  --tomato-6: hsl(8, 64.8%, 24%);
  --tomato-7: hsl(8, 71.2%, 29.1%);
  --tomato-8: hsl(10, 80.2%, 35.7%);
  --tomato-9: hsl(10, 78%, 54%);
  --tomato-10: hsl(10, 81.7%, 59%);
  --tomato-11: hsl(10, 85%, 62.8%);
  --tomato-12: hsl(10, 89%, 96%);
}

.light {
  --tomato-1: hsl(10, 100%, 99.4%);
  --tomato-2: hsl(8, 100%, 98.4%);
  --tomato-3: hsl(8, 100%, 96.6%);
  --tomato-4: hsl(8, 100%, 94.3%);
  --tomato-5: hsl(8, 92.8%, 91%);
  --tomato-6: hsl(9, 84.7%, 86.3%);
  --tomato-7: hsl(10, 77.3%, 79.5%);
  --tomato-8: hsl(10, 71.6%, 71%);
  --tomato-9: hsl(10, 78%, 54%);
  --tomato-10: hsl(10, 71.5%, 50%);
  --tomato-11: hsl(10, 82%, 43.5%);
  --tomato-12: hsl(10, 50%, 13.5%);
}

:root {
  --red-1: hsl(353, 23%, 9.8%);
  --red-2: hsl(357, 34.4%, 12%);
  --red-3: hsl(356, 43.4%, 16.4%);
  --red-4: hsl(356, 47.6%, 19.2%);
  --red-5: hsl(356, 51.1%, 21.9%);
  --red-6: hsl(356, 55.2%, 25.9%);
  --red-7: hsl(357, 60.2%, 31.8%);
  --red-8: hsl(358, 65%, 40.4%);
  --red-9: hsl(358, 75%, 59%);
  --red-10: hsl(358, 85.3%, 64%);
  --red-11: hsl(358, 100%, 69.5%);
  --red-12: hsl(351, 89%, 96%);
}

.light {
  --red-1: hsl(359, 100%, 99.4%);
  --red-2: hsl(359, 100%, 98.6%);
  --red-3: hsl(360, 100%, 96.8%);
  --red-4: hsl(360, 97.9%, 94.8%);
  --red-5: hsl(360, 90.2%, 91.9%);
  --red-6: hsl(360, 81.7%, 87.8%);
  --red-7: hsl(359, 74.2%, 81.7%);
  --red-8: hsl(359, 69.5%, 74.3%);
  --red-9: hsl(358, 75%, 59%);
  --red-10: hsl(358, 69.4%, 55.2%);
  --red-11: hsl(358, 65%, 48.7%);
  --red-12: hsl(354, 50%, 14.6%);
}

:root {
  --crimson-1: hsl(335, 20%, 9.6%);
  --crimson-2: hsl(335, 32.2%, 11.6%);
  --crimson-3: hsl(335, 42.5%, 16.5%);
  --crimson-4: hsl(335, 47.2%, 19.3%);
  --crimson-5: hsl(335, 50.9%, 21.8%);
  --crimson-6: hsl(335, 55.7%, 25.3%);
  --crimson-7: hsl(336, 62.9%, 30.8%);
  --crimson-8: hsl(336, 74.9%, 39%);
  --crimson-9: hsl(336, 80%, 57.8%);
  --crimson-10: hsl(339, 84.1%, 62.6%);
  --crimson-11: hsl(341, 90%, 67.3%);
  --crimson-12: hsl(332, 87%, 96%);
}

.light {
  --crimson-1: hsl(332, 100%, 99.4%);
  --crimson-2: hsl(330, 100%, 98.4%);
  --crimson-3: hsl(331, 85.6%, 96.6%);
  --crimson-4: hsl(331, 78.1%, 94.2%);
  --crimson-5: hsl(332, 72.1%, 91.1%);
  --crimson-6: hsl(333, 67%, 86.7%);
  --crimson-7: hsl(335, 63.5%, 80.4%);
  --crimson-8: hsl(336, 62.3%, 72.9%);
  --crimson-9: hsl(336, 80%, 57.8%);
  --crimson-10: hsl(336, 73.7%, 53.5%);
  --crimson-11: hsl(336, 75%, 47.2%);
  --crimson-12: hsl(340, 65%, 14.5%);
}

:root {
  --pink-1: hsl(318, 25%, 9.6%);
  --pink-2: hsl(319, 32.2%, 11.6%);
  --pink-3: hsl(319, 41%, 16%);
  --pink-4: hsl(320, 45.4%, 18.7%);
  --pink-5: hsl(320, 49%, 21.1%);
  --pink-6: hsl(321, 53.6%, 24.4%);
  --pink-7: hsl(321, 61.1%, 29.7%);
  --pink-8: hsl(322, 74.9%, 37.5%);
  --pink-9: hsl(322, 65%, 54.5%);
  --pink-10: hsl(323, 72.8%, 59.2%);
  --pink-11: hsl(325, 90%, 66.4%);
  --pink-12: hsl(322, 90%, 95.8%);
}

.light {
  --pink-1: hsl(322, 100%, 99.4%);
  --pink-2: hsl(323, 100%, 98.4%);
  --pink-3: hsl(323, 86.3%, 96.5%);
  --pink-4: hsl(323, 78.7%, 94.2%);
  --pink-5: hsl(323, 72.2%, 91.1%);
  --pink-6: hsl(323, 66.3%, 86.6%);
  --pink-7: hsl(323, 62%, 80.1%);
  --pink-8: hsl(323, 60.3%, 72.4%);
  --pink-9: hsl(322, 65%, 54.5%);
  --pink-10: hsl(322, 63.9%, 50.7%);
  --pink-11: hsl(322, 75%, 46%);
  --pink-12: hsl(320, 70%, 13.5%);
}

:root {
  --orange-1: hsl(30, 70%, 7.2%);
  --orange-2: hsl(28, 100%, 8.4%);
  --orange-3: hsl(26, 91.1%, 11.6%);
  --orange-4: hsl(25, 88.3%, 14.1%);
  --orange-5: hsl(24, 87.6%, 16.6%);
  --orange-6: hsl(24, 88.6%, 19.8%);
  --orange-7: hsl(24, 92.4%, 24%);
  --orange-8: hsl(25, 100%, 29%);
  --orange-9: hsl(24, 94%, 50%);
  --orange-10: hsl(24, 100%, 58.5%);
  --orange-11: hsl(24, 100%, 62.2%);
  --orange-12: hsl(24, 97%, 93.2%);
}

.light {
  --orange-1: hsl(24, 70%, 99%);
  --orange-2: hsl(24, 83.3%, 97.6%);
  --orange-3: hsl(24, 100%, 95.3%);
  --orange-4: hsl(25, 100%, 92.2%);
  --orange-5: hsl(25, 100%, 88.2%);
  --orange-6: hsl(25, 100%, 82.8%);
  --orange-7: hsl(24, 100%, 75.3%);
  --orange-8: hsl(24, 94.5%, 64.3%);
  --orange-9: hsl(24, 94%, 50%);
  --orange-10: hsl(24, 100%, 46.5%);
  --orange-11: hsl(24, 100%, 37%);
  --orange-12: hsl(15, 60%, 17%);
}

:root {
  --green-1: hsl(146, 30%, 7.4%);
  --green-2: hsl(155, 44.2%, 8.4%);
  --green-3: hsl(155, 46.7%, 10.9%);
  --green-4: hsl(154, 48.4%, 12.9%);
  --green-5: hsl(154, 49.7%, 14.9%);
  --green-6: hsl(154, 50.9%, 17.6%);
  --green-7: hsl(153, 51.8%, 21.8%);
  --green-8: hsl(151, 51.7%, 28.4%);
  --green-9: hsl(151, 55%, 41.5%);
  --green-10: hsl(151, 49.3%, 46.5%);
  --green-11: hsl(151, 50%, 53.2%);
  --green-12: hsl(137, 72%, 94%);
}

.light {
  --green-1: hsl(136, 50%, 98.9%);
  --green-2: hsl(138, 62.5%, 96.9%);
  --green-3: hsl(139, 55.2%, 94.5%);
  --green-4: hsl(140, 48.7%, 91%);
  --green-5: hsl(141, 43.7%, 86%);
  --green-6: hsl(143, 40.3%, 79%);
  --green-7: hsl(146, 38.5%, 69%);
  --green-8: hsl(151, 40.2%, 54.1%);
  --green-9: hsl(151, 55%, 41.5%);
  --green-10: hsl(152, 57.5%, 37.6%);
  --green-11: hsl(153, 67%, 28.5%);
  --green-12: hsl(155, 40%, 14%);
}

:root {
  --grass-1: hsl(146, 30%, 7.4%);
  --grass-2: hsl(136, 33.3%, 8.8%);
  --grass-3: hsl(137, 36%, 11.4%);
  --grass-4: hsl(137, 37.6%, 13.7%);
  --grass-5: hsl(136, 38.7%, 16%);
  --grass-6: hsl(135, 39.6%, 19.1%);
  --grass-7: hsl(134, 40.3%, 23.8%);
  --grass-8: hsl(131, 40.1%, 30.8%);
  --grass-9: hsl(131, 41%, 46.5%);
  --grass-10: hsl(131, 39%, 52.1%);
  --grass-11: hsl(131, 43%, 57.2%);
  --grass-12: hsl(137, 72%, 94%);
}

.light {
  --grass-1: hsl(116, 50%, 98.9%);
  --grass-2: hsl(120, 60%, 97.1%);
  --grass-3: hsl(120, 53.6%, 94.8%);
  --grass-4: hsl(121, 47.5%, 91.4%);
  --grass-5: hsl(122, 42.6%, 86.5%);
  --grass-6: hsl(124, 39%, 79.7%);
  --grass-7: hsl(126, 37.1%, 70.2%);
  --grass-8: hsl(131, 38.1%, 56.3%);
  --grass-9: hsl(131, 41%, 46.5%);
  --grass-10: hsl(132, 43.1%, 42.2%);
  --grass-11: hsl(133, 50%, 32.5%);
  --grass-12: hsl(130, 30%, 14.9%);
}

:root {
  --teal-1: hsl(168, 48%, 6.5%);
  --teal-2: hsl(169, 77.8%, 7.1%);
  --teal-3: hsl(170, 76.1%, 9.2%);
  --teal-4: hsl(171, 75.8%, 11%);
  --teal-5: hsl(171, 75.7%, 12.8%);
  --teal-6: hsl(172, 75.8%, 15.1%);
  --teal-7: hsl(172, 76.7%, 18.6%);
  --teal-8: hsl(173, 80.2%, 23.7%);
  --teal-9: hsl(173, 80%, 36%);
  --teal-10: hsl(174, 83.9%, 38.2%);
  --teal-11: hsl(174, 90%, 40.7%);
  --teal-12: hsl(166, 73%, 93.1%);
}

.light {
  --teal-1: hsl(165, 60%, 98.8%);
  --teal-2: hsl(169, 64.7%, 96.7%);
  --teal-3: hsl(169, 59.8%, 94%);
  --teal-4: hsl(169, 53.1%, 90.2%);
  --teal-5: hsl(170, 47.1%, 85%);
  --teal-6: hsl(170, 42.6%, 77.9%);
  --teal-7: hsl(170, 39.9%, 68.1%);
  --teal-8: hsl(172, 42.1%, 52.5%);
  --teal-9: hsl(173, 80%, 36%);
  --teal-10: hsl(173, 83.4%, 32.5%);
  --teal-11: hsl(174, 90%, 25.2%);
  --teal-12: hsl(170, 50%, 12.5%);
}

:root {
  --yellow-1: hsl(45, 100%, 5.5%);
  --yellow-2: hsl(46, 100%, 6.7%);
  --yellow-3: hsl(45, 100%, 8.7%);
  --yellow-4: hsl(45, 100%, 10.4%);
  --yellow-5: hsl(47, 100%, 12.1%);
  --yellow-6: hsl(49, 100%, 14.3%);
  --yellow-7: hsl(49, 90.3%, 18.4%);
  --yellow-8: hsl(50, 100%, 22%);
  --yellow-9: hsl(53, 92%, 50%);
  --yellow-10: hsl(54, 100%, 68%);
  --yellow-11: hsl(48, 100%, 47%);
  --yellow-12: hsl(53, 100%, 91%);
}

.light {
  --yellow-1: hsl(60, 54%, 98.5%);
  --yellow-2: hsl(52, 100%, 95.5%);
  --yellow-3: hsl(55, 100%, 90.9%);
  --yellow-4: hsl(54, 100%, 86.6%);
  --yellow-5: hsl(52, 97.9%, 82%);
  --yellow-6: hsl(50, 89.4%, 76.1%);
  --yellow-7: hsl(47, 80.4%, 68%);
  --yellow-8: hsl(48, 100%, 46.1%);
  --yellow-9: hsl(53, 92%, 50%);
  --yellow-10: hsl(50, 100%, 48.5%);
  --yellow-11: hsl(42, 100%, 29%);
  --yellow-12: hsl(40, 55%, 13.5%);
}

:root {
  --blue-1: hsl(212, 35%, 9.2%);
  --blue-2: hsl(216, 50%, 11.8%);
  --blue-3: hsl(214, 59.4%, 15.3%);
  --blue-4: hsl(214, 65.8%, 17.9%);
  --blue-5: hsl(213, 71.2%, 20.2%);
  --blue-6: hsl(212, 77.4%, 23.1%);
  --blue-7: hsl(211, 85.1%, 27.4%);
  --blue-8: hsl(211, 89.7%, 34.1%);
  --blue-9: hsl(206, 100%, 50%);
  --blue-10: hsl(209, 100%, 60.6%);
  --blue-11: hsl(210, 100%, 66.1%);
  --blue-12: hsl(206, 98%, 95.8%);
}

:root {
  --blue-a1: hsla(0, 0%, 0%, 0);
  --blue-a2: hsla(221, 97.8%, 52.4%, 0.059);
  --blue-a3: hsla(215, 99.3%, 54.2%, 0.135);
  --blue-a4: hsla(215, 99.3%, 53.8%, 0.198);
  --blue-a5: hsla(213, 99.4%, 52.8%, 0.252);
  --blue-a6: hsla(212, 99.9%, 51.7%, 0.323);
  --blue-a7: hsla(211, 100%, 50.7%, 0.435);
  --blue-a8: hsla(211, 99.8%, 50.9%, 0.597);
  --blue-a9: hsla(205, 100%, 50%, 0.98);
  --blue-a10: hsla(208, 100%, 60.7%, 0.98);
  --blue-a11: hsla(209, 100%, 66.3%, 0.98);
  --blue-a12: hsla(196, 100%, 96.8%, 0.98);
}

.light {
  --blue-1: hsl(206, 100%, 99.2%);
  --blue-2: hsl(210, 100%, 98%);
  --blue-3: hsl(209, 100%, 96.5%);
  --blue-4: hsl(210, 98.8%, 94%);
  --blue-5: hsl(209, 95%, 90.1%);
  --blue-6: hsl(209, 81.2%, 84.5%);
  --blue-7: hsl(208, 77.5%, 76.9%);
  --blue-8: hsl(206, 81.9%, 65.3%);
  --blue-9: hsl(206, 100%, 50%);
  --blue-10: hsl(208, 100%, 47.3%);
  --blue-11: hsl(211, 100%, 43.2%);
  --blue-12: hsl(211, 100%, 15%);
}

:root {
  --purple-1: hsl(284, 20%, 9.6%);
  --purple-2: hsl(283, 30%, 11.8%);
  --purple-3: hsl(281, 37.5%, 16.5%);
  --purple-4: hsl(280, 41.2%, 20%);
  --purple-5: hsl(279, 43.8%, 23.3%);
  --purple-6: hsl(277, 46.4%, 27.5%);
  --purple-7: hsl(275, 49.3%, 34.6%);
  --purple-8: hsl(272, 52.1%, 45.9%);
  --purple-9: hsl(272, 51%, 54%);
  --purple-10: hsl(273, 57.3%, 59.1%);
  --purple-11: hsl(275, 80%, 71%);
  --purple-12: hsl(279, 75%, 95.7%);
}

:root {
  --purple-a1: hsla(0, 0%, 0%, 0);
  --purple-a2: hsla(280, 96.5%, 57.5%, 0.045);
  --purple-a3: hsla(279, 98.7%, 62.8%, 0.129);
  --purple-a4: hsla(279, 99.1%, 64%, 0.191);
  --purple-a5: hsla(278, 99.8%, 64.2%, 0.248);
  --purple-a6: hsla(276, 99.6%, 64.6%, 0.328);
  --purple-a7: hsla(274, 99.9%, 64.6%, 0.456);
  --purple-a8: hsla(272, 99.7%, 64.6%, 0.66);
  --purple-a9: hsla(272, 99.9%, 69.1%, 0.748);
  --purple-a10: hsla(273, 100%, 71.3%, 0.801);
  --purple-a11: hsla(275, 99.9%, 75.3%, 0.934);
  --purple-a12: hsla(286, 100%, 97.1%, 0.98);
}

.light {
  --purple-1: hsl(280, 65%, 99.4%);
  --purple-2: hsl(276, 100%, 99%);
  --purple-3: hsl(276, 83.1%, 97%);
  --purple-4: hsl(275, 76.4%, 94.7%);
  --purple-5: hsl(275, 70.8%, 91.8%);
  --purple-6: hsl(274, 65.4%, 87.8%);
  --purple-7: hsl(273, 61%, 81.7%);
  --purple-8: hsl(272, 60%, 73.5%);
  --purple-9: hsl(272, 51%, 54%);
  --purple-10: hsl(272, 46.8%, 50.3%);
  --purple-11: hsl(272, 50%, 45.8%);
  --purple-12: hsl(272, 66%, 16%);
}

:root {
  --gray-1: hsl(0, 0%, 8.5%);
  --gray-2: hsl(0, 0%, 11%);
  --gray-3: hsl(0, 0%, 13.6%);
  --gray-4: hsl(0, 0%, 15.8%);
  --gray-5: hsl(0, 0%, 17.9%);
  --gray-6: hsl(0, 0%, 20.5%);
  --gray-7: hsl(0, 0%, 24.3%);
  --gray-8: hsl(0, 0%, 31.2%);
  --gray-9: hsl(0, 0%, 43.9%);
  --gray-10: hsl(0, 0%, 49.4%);
  --gray-11: hsl(0, 0%, 62.8%);
  --gray-12: hsl(0, 0%, 93%);
}

.light {
  --gray-1: hsl(0, 0%, 99%);
  --gray-2: hsl(0, 0%, 97.3%);
  --gray-3: hsl(0, 0%, 95.1%);
  --gray-4: hsl(0, 0%, 93%);
  --gray-5: hsl(0, 0%, 90.9%);
  --gray-6: hsl(0, 0%, 88.7%);
  --gray-7: hsl(0, 0%, 85.8%);
  --gray-8: hsl(0, 0%, 78%);
  --gray-9: hsl(0, 0%, 56.1%);
  --gray-10: hsl(0, 0%, 52.3%);
  --gray-11: hsl(0, 0%, 43.5%);
  --gray-12: hsl(0, 0%, 9%);
}

:root {
  --black-a1: hsla(0, 0%, 0%, 0.012);
  --black-a2: hsla(0, 0%, 0%, 0.024);
  --black-a3: hsla(0, 0%, 0%, 0.055);
  --black-a4: hsla(0, 0%, 0%, 0.078);
  --black-a5: hsla(0, 0%, 0%, 0.106);
  --black-a6: hsla(0, 0%, 0%, 0.133);
  --black-a7: hsla(0, 0%, 0%, 0.169);
  --black-a8: hsla(0, 0%, 0%, 0.267);
  --black-a9: hsla(0, 0%, 0%, 0.447);
  --black-a10: hsla(0, 0%, 0%, 0.498);
  --black-a11: hsla(0, 0%, 0%, 0.608);
  --black-a12: hsla(0, 0%, 0%, 0.875);
}
:root {
  --white-a1: hsla(0, 0%, 0%, 0);
  --white-a2: hsla(0, 0%, 100%, 0.013);
  --white-a3: hsla(0, 0%, 100%, 0.069);
  --white-a4: hsla(0, 0%, 100%, 0.104);
  --white-a5: hsla(0, 0%, 100%, 0.134);
  --white-a6: hsla(0, 0%, 100%, 0.169);
  --white-a7: hsla(0, 0%, 100%, 0.216);
  --white-a8: hsla(0, 0%, 100%, 0.312);
  --white-a9: hsla(0, 0%, 100%, 0.372);
  --white-a10: hsla(0, 0%, 100%, 0.455);
  --white-a11: hsla(0, 0%, 100%, 0.662);
  --white-a12: hsla(0, 0%, 100%, 0.926);
}
