:root {
  --spacing-0-quarter: 0.125rem;
  --spacing-0-half: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-1-half: 0.75rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;
  --spacing-7: 3.5rem;
  --spacing-8: 4rem;
  --spacing-9: 4.5rem;
  --spacing-10: 5rem;
  --spacing-12: 6rem;
  --spacing-14: 7rem;
  --spacing-16: 8rem;
  --spacing-18: 9rem;
  --spacing-20: 10rem;
  --spacing-30: 15rem;
  --spacing-40: 20rem;
}
