.toastViewport {
  --viewport-padding: 25px;

  display: flex;
  position: fixed;
  z-index: 2147483647;
  right: 0;
  bottom: 0;
  flex-direction: column;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  padding: var(--viewport-padding);
  outline: none;
  list-style: none;
  gap: 10px;
}

.toast {
  display: grid;
  position: relative;
  grid-template-areas: "title action" "description action";
  grid-template-columns: auto max-content;
  align-items: center;
  padding: var(--spacing-1_5);
  column-gap: 15px;
  border: 1px solid var(--grayBorder);
  border-radius: var(--border-radius-xs);
  background-color: var(--grayBg);
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 2px 2px rgb(0 0 0 / 12%),
    0 4px 4px rgb(0 0 0 / 16%), 0 8px 8px rgb(0 0 0 / 20%);
}

.toast[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.toast[data-state="closed"] {
  animation: hide 100ms ease-in;
}

.toast[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.toast[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}

.toast[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

.toastTitle {
  grid-area: title;
  color: var(--grayTextContrast);
  font-size: var(--font-size-large);

  // margin-bottom: 5px;
  font-weight: 500;
}

.toastDescription {
  grid-area: description;
  margin: 0;
  color: var(--grayText);
  font-size: var(--font-size-sm);
  line-height: 1.3;
}

.toastAction {
  grid-area: action !important;

  // margin: auto 0;
  // align-self: center;
  // height: 100%;
}

.toastClose {
  position: absolute;
  top: var(--spacing-1);
  right: var(--spacing-1);
  transition: 150ms ease;
  transition-property: opacity;
  opacity: 0;
}

.toast:hover .toastClose {
  opacity: 1;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}
