.avatarRoot {
  display: flex;
  position: relative;
  width: var(--spacing-5);
  height: var(--spacing-5);
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--border-radius-circle);
}

.avatarImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.avatarFallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-gray-bg);
}
