.scroller {
  height: 100%;
  overflow: hidden;

  --scrollbar-size: 12px;
}

.scrollAreaThumb {
  position: relative;
  flex: 1;
  border-radius: 8px;
  background: var(--gray7);
}

.scrollAreaScrollbar {
  display: flex;
  z-index: 9999;
  padding: 2px;
  transition: background 150ms ease-out;
  background: transparent;

  /* ensures no selection */
  user-select: none;

  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;

  &:hover {
    background: var(--gray1);

    .scrollAreaThumb {
      background: var(--gray10);
    }
  }
}

.scrollAreaScrollbar[data-orientation="vertical"] {
  flex-direction: row;
  width: var(--scrollbar-size);
}

.scrollAreaScrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.scrollAreaThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 44px;
  height: 100%;
  min-height: 44px;
  transform: translate(-50%, -50%);
}

.scrollAreaViewport {
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-radius: inherit;
}
