.textarea {
  display: flex;
  width: 100%;
  margin: 0;
  padding: var(--spacing-1);
  border: 1px solid var(--color-gray-border);
  border-radius: var(--border-radius-xs);
  background-color: var(--color-gray-bg);
  color: var(--color-gray-text-contrast);
  font-size: var(--font-size-body-sm);
  resize: vertical;

  &::placeholder {
    opacity: 1;
    color: var(--color-gray-solid);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-accent-focus-ring);
  }

  &[disabled] {
    border-color: var(--color-gray-line);
    background-color: var(--color-gray-bg);
    color: var(--color-gray-solid);
    cursor: not-allowed;

    &:hover {
      border-color: var(--color-gray-line);
    }

    &::placeholder {
      color: var(--color-gray-border-hover);
    }
  }
}
